
* {
    bg-col: #101317;
    bg-col-light: #1A1A1A;
    border-col: #292F35;
    selected-col: #242A30;
    blue: #5779DD;
    fg-col: #BEBEBE;
    fg-col2: #d083ff;
    grey: #161617;
    red: #b70505;
}
